<div class="container fondoEdit" *ngIf="acercade">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group" id="espacial">
                    <label for="sobremi" style="color: white;"> Descripcion de caracteristicas personales</label>
                    <input type="text" class="form-control" id="sobremi" name="sobremi" [(ngModel)]="acercade.sobremi" required>
                </div>
               
                <button class="btn btn-success" id="botonAgregar">
                    MODIFICAR DESCRIPCION
                </button>
                <button class="btn btn-danger" id="botonAgregar" (click)="cancelar()">
                    CANCELAR
                </button>
                
            </form>
        </div>
    </div>
</div>