<div class="container fondoEdit" *ngIf="educacion">
    <div class="row" id="textosColor">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group" id="espacial">
                    <label for="logo"> Link del Logo de la institucion</label>
                    <input type="text" class="form-control" id="logo" name="logo" [(ngModel)]="educacion.logo" required>
                </div>
                <div class="form-group">
                    <label for="titulo"> Titulo Obtenido</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="educacion.titulo" required>
                </div>
                <div class="form-group">
                    <label for="centroeduc"> Nombre de la institucion</label>
                    <input type="text" class="form-control" id="centroeduc" name="centroeduc" [(ngModel)]="educacion.centroeduc" required>
                </div>
                <div class="form-group" id="impHasta">
                <label for="desde">Fecha de inicio:</label>
                <input type="month" id="desde" name="desde" value=""
                 min="01-2000" max="12-2025" [(ngModel)]="educacion.desde" required>
                </div>
                <div class="form-group" id="impHasta">
                    <label for="desde">Fecha de finalización:</label>
                    <input type="month" id="hasta" name="hasta" value=""
                     min="01-2000" max="12-2025" [(ngModel)]="educacion.hasta" required>
                 </div>
                
                <div class="form-group" id="impHasta">
                    <label for="ubicacion"> Lugar de la institucion</label>
                    <input type="text" class="form-control" id="ubicacion" name="ubicacion" [(ngModel)]="educacion.ubicacion" required>
                </div>
                <button class="btn btn-success" id="botonAgregar">
                    MODIFICAR EDUCACION
                </button>
                <button class="btn btn-danger" id="botonAgregar" (click)="cancelar()">
                    CANCELAR
                </button>
                
            </form>
        </div>
    </div>
</div>