<div class="row card-format">
    <div class="col-md-12 container-fluid">
      <div class="card mb-3" style="border-radius: 32px; background-color: lightblue;">  
        <div class="card-body">
          <a href="#" class="brillo">Educación<span></span></a>
          <button class="btn btn-outline-dark rounded" style="margin: 10px 5px 18px 15px;" routerLink="/nuevaeducacion" *ngIf="isLogged" title="Agregar Educacion"><i class="fas fa-plus"> Agregar Educacion</i>
          </button>
          

          <div *ngFor="let Educacion of educacion">
            <img class="logo-miniatura" [src]="[Educacion.logo]"> 
              <h6 class="format-experiencias">{{Educacion.titulo}} 
                  <button class="btn btn-outline-dark rounded float-end espaciado-botones" (click)="delete(Educacion.id)" *ngIf="isLogged" title="Eliminar">
                  <i class="fas fa-trash-alt"></i></button>
                  <button class="btn btn-outline-dark rounded float-end espaciado-botones" *ngIf="isLogged" routerLink="/editedu/{{Educacion.id}}" title="Editar">
                    <i class="far fa-edit"></i></button>
              </h6>
              <p class="format-experiencias" id="centroeEducativo">{{Educacion.centroeduc}}</p>
              <p class="format-experiencias">{{Educacion.desde}}</p>
              <p class="format-experiencias">{{Educacion.hasta}}</p>
              <p class="format-experiencias">{{Educacion.ubicacion}}</p>
                            
          </div>
  </div>
