<div class="row card-format">
    <div class="col-md-12 container-fluid">
      <div class="card mb-3" style="border-radius: 32px; background-color: lightblue;">  
        <div class="card-body">
          <a href="#" class="brillo">Educación<span></span></a>
          <div>
            <button class="btn btn-outline-dark rounded float-end espaciado-botones" title="Eliminar"><i class="fas fa-trash-alt"></i></button>
            <button class="btn btn-outline-dark rounded float-end espaciado-botones" title="Agregar"><i class="fas fa-plus"></i></button>
            <button class="btn btn-outline-dark rounded float-end espaciado-botones" title="Editar"><i class="far fa-edit"></i></button>
          </div>
           <ul class="lista-exp">
            <li>
              <img class="logo-miniatura" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1659710838/IMG%20PROYECTO%20INTEGRADOR/logo-cer-v2_k0mc9w.png"> 
              <h6 class="format-experiencias">Técnico en Refrigeracíon y Aire Acondicionado</h6>
              <p class="format-experiencias">CER</p>
              <p class="format-experiencias">Marzo 2011 - Agosto 2011</p>
              <p class="format-experiencias">Temperley, Buenos Aires, Argentina</p>
            </li>
            <li>
              <img class="logo-miniatura" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1659708541/IMG%20PROYECTO%20INTEGRADOR/logounla_l61o5n.png"> 
              <h6 class="format-experiencias">Licenciatura en Ciencia y Tecnologías de los Alimentos</h6>
              <p class="format-experiencias">UNla</p>
              <p class="format-experiencias">Marzo 2009 - 1,5 año completos</p>
              <p class="format-experiencias">Lanús, Buenos Aires, Argentina</p>
            </li>        
            <li>
              <img class="logo-miniatura" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1659711561/IMG%20PROYECTO%20INTEGRADOR/logoeuskal_ih0alt.png"> 
              <h6 class="format-experiencias">Bachiller con Orientacion en Ciencias Naturales</h6>
              <p class="format-experiencias">Instituto Euskal-Echea Llavallol</p>
              <p class="format-experiencias">Marzo 2006 - Diciembre 2008</p>
              <p class="format-experiencias">Llavallol, Buenos Aires, Argentina</p>       
            </li>
           </ul> 
        </div>
      </div>
    </div> 
  </div>
