<div class="row card-format">
    <div class="col-md-12 container-fluid">
      <div class="card mb-3" style="border-radius: 32px; background-color: lightblue;">  
        <div class="card-body">
          <a href="#" class="brillo">Proyectos<span></span></a>
          <button class="btn btn-outline-dark rounded" style="margin: 10px 5px 18px 15px;" routerLink="/nuevoproyecto" *ngIf="isLogged" title="Agregar Educacion"><i class="fas fa-plus"> Agregar Proyecto</i>
          </button>
          

          <div *ngFor="let Proyectos of proyectos">
            <img class="logo-miniatura" [src]="[Proyectos.logoProyec]"> 
              <h6 class="format-experiencias">{{Proyectos.referenciaProyec}} 
                  <button class="btn btn-outline-dark rounded float-end espaciado-botones" (click)="delete(Proyectos.id)" *ngIf="isLogged" title="Eliminar">
                  <i class="fas fa-trash-alt"></i></button>
                  <button class="btn btn-outline-dark rounded float-end espaciado-botones" *ngIf="isLogged" routerLink="/editedu/{{Proyectos.id}}" title="Editar">
                    <i class="far fa-edit"></i></button>
              </h6>
              <p class="format-experiencias" id="descriProy">{{Proyectos.descripcionProyec}}</p>
              <p class="format-experiencias">Fecha de inicio del Proyecto: {{Proyectos.fechacreacionProyec}}</p>
              <p class="format-experiencias">Link del proyecto: {{Proyectos.linkProyec}}</p>
           
                            
          </div>
  </div>
