<div style="background-color: #e3f2fd;">
    <div class="row">
      <div class="col-md-10" style="display: flex; justify-content: start">
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;" style="padding: 10px; display: flex; justify-content: start">
          <a class="navbar-brand" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
            <img class="img-fluid" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1659032112/IMG%20PROYECTO%20INTEGRADOR/arg-programa_auyufj.png" width="180" height="60" class="d-inline-block align-top" style="margin-left: 10px;">
          <span id="ref-yo-programo">#YO PROGRAMO</span>
          </a>
        </nav>   
      </div>
         <div class="col-md-2" style="padding: 25px; display: flex; justify-content: center;">
           <div class="espaciado-botones">
             <a href="https://facebook.com/profile.php?ide=100008418706375" class="btn btn-outline-dark my-2 my-sm-0 espaciado-btn-redes" type="submit" style="background-color: blue;"><i class="fab fa-facebook-square"></i></a>
             <a href="https://instagram.com/hernyglomba" class="btn btn-outline-dark my-2 my-sm-0 espaciado-btn-redes" href="https://instagram.com/hernyglomba"type="submit" style="background-color: #ac2bac;"><i class="fab fa-instagram"></i></a>
             <button type="button" class="btn btn-outline-success my-2 my-sm-0" (click)="login()" *ngIf="!isLogged" >LOGIN</button>
             <button type="button" class="btn btn-outline-success my-2 my-sm-0" (click)="onLogout()" *ngIf="isLogged">LOGOUT</button>
           </div>     
         </div>
    </div>
</div> 
