<div class="row card-format">
    <div class="col-12">
      <div class="card mb-3" style="padding: 10px; border-radius: 2%;">
          <img class="card-img-top" src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1661261058/IMG%20PROYECTO%20INTEGRADOR/portadainicial1_omalrb.jpg" alt="portadadefondo" style="margin-top: 5px; border-radius: 15px;">
        <div class="card-body" id="encabezado">
          <img class="img-fluid" id="fotoperfil" [src]="[persona.img]" alt="fotoperfil" > 
          <button class="btn btn-outline-dark rounded float-end espaciado-botones" id="bteditarfoto" title="Editar"><i class="far fa-edit"></i></button>
          <h5 class="card-title" style="margin-top: 1%;">{{persona.nombre}}</h5>
          <p class="card-text" id="bajo-foto">{{persona.titulo}}</p>
          <p class="card-text" id="ubicacion"><small class="text-muted">{{persona.ubicacion}}</small></p>
        </div>
      </div>
    </div>
  </div>