<div class="row card-format">
    <div class="col-md-12 container-fluid">
      <div class="card mb-3" style="border-radius: 32px; background-color:navajowhite">  
        <div class="card-body">
          <a href="#" class="brillo">H & S Skills<span></span></a>
          <div class="row graficos">
            <img id="grafico" src="https://quickchart.io/chart?c={type:'radar',data:{labels:['Metodologia','Resolución','Trabajo en equipo','Dinamismo'], datasets:[{label:'Cualidades',data:[100,90,90,95]},]}}">
            <img id="grafico" src="https://quickchart.io/chart?c={type:'radar',data:{labels:['Css','Html','Angular','TypeScript','Java','JavaScript'], datasets:[{label:'Herramientas',data:[100,90,90,95,90,65]},]}}">          
          </div>
            <button class="btn btn-outline-dark rounded float-end espaciado-botones" title="Eliminar"><i class="fas fa-trash-alt"></i></button>
            <button class="btn btn-outline-dark rounded float-end espaciado-botones" title="Agregar"><i class="fas fa-plus"></i></button>
            <button class="btn btn-outline-dark rounded float-end espaciado-botones" title="Editar"><i class="far fa-edit"></i></button>
        </div>
      </div>
    </div> 
  </div>
